body
{
    background-image: url(https://etimg.etb2bimg.com/photo/106476310.cms);
    background-position: center;
    background-size: cover;
    height: 100vh;
    
}
.main
{
    color: black;
    font-size: 5rem ;
    font-weight: 800;
    opacity: 0.6;
}
.t1
{
    font-weight:900 ;
    font-family:Georgia, 'Times New Roman', Times, serif;
    transition: 2s;
}
.col:hover
{
    scale: 102%;
    transition: 2s;
    cursor: pointer;
}
.t1:hover
{
    scale: 102%;
    transition: 2s;
    cursor: pointer;
}
.col{
    transition: 2s;
}